@page "/lists/notelist"
@using BlazorApp1.Shared.Components.Models.NoteList

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h3>NoteList</h3>

<div class="container mx-auto my-3 bg-dark text-white" style="width:550px">

    @* Headline *@
    <div class="row">
        <div class="col-1">
            <img src="/Pictures/micIcon.png" class="rounded float-left; my-2" style="width: 30px; height: 30px" />
        </div>
        <div class="col">
            <h1>AudioNote</h1>
        </div>
        <div class="col">
            <p class="pt-3">title</p>
        </div>
        <div class="col">
            <p class="pt-3">@_loginData.Username</p>
        </div>
    </div>

    @* Body *@
    <div>

        @if (_noteListDatas == null)
        {
            <p>
                <em>
                    Loading...
                </em>
            </p>
        }
        else
        {
            <table class="table">

                @* table header *@
                <thead>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>status</th>
                    <th>created</th>
                    <th>length</th>
                    <th>author</th>

                </tr>
                </thead>

                @* table body *@
                <tbody>
                @foreach (var noteListData in _noteListDatas)
                {
                    <tr>
                        <td>@noteListData.Icon</td>
                        <td>@noteListData.Id</td>
                        <td>@noteListData.Status</td>
                        <td>@noteListData.Created</td>
                        <td>@noteListData.Length</td>
                        <td>@noteListData.Author</td>
                    </tr>
                }
                </tbody>

            </table>
        }

        @* footer *@
        <div>
            <button class="btn btn-primary" @onclick="Create">add</button>
            <button class="btn btn-primary" @onclick="Refresh">refresh</button>
            <div class="search-container">
                <form onsubmit="Search()">
                    <input type="text" placeholder="Search..." id="Search"/>
                    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

    </div>

</div>

@code {

    private LoginData _loginData = new LoginData();

    private NoteListData[] _noteListDatas;

    /*  */

    protected override async Task OnInitializedAsync()
    {
        _loginData.Username = await sessionStorage.GetItemAsync<string>("Username");
        _loginData.Password = await sessionStorage.GetItemAsync<string>("Password");
        //var _VerifiedSession = await sessionStorage.GetItemAsync<object>("VerifiedSession");

        Console.WriteLine("MMNoteList Test of sessionstorage L96: " + _loginData.Username);
        Console.WriteLine("MMNoteList Test of sessionstorage: " + _loginData.Password);
        //Console.WriteLine("Test of sessionstorage: " + _VerifiedSession);

        await Refresh();
    }

    private async Task Create()
    {
        NavigationManager.NavigateTo("Audio/audionote");
    }

    private async Task Refresh()
    {
        try
        {
            Console.WriteLine("MMNoteList Test of sessionstorage L112: " + _loginData.Username);
            Console.WriteLine("MMNoteList Test of sessionstorage: " + _loginData.Password);

            // Http call to get a verifiedSession from LoginController
            await HttpClient.PostAsJsonAsync("/api/login/login", _loginData);

            // Http call to get Notes from NoteListController
            var _snoteListDatas = await HttpClient.GetAsync("api/NoteListData/update");

            Console.WriteLine("MMNoteList Get NoteList: " + _noteListDatas);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    //private async Task Search()
    //{
    //    Console.WriteLine("køre den her?");
    //}

}